body {
    background-color: #dbdbdb;
    font-family: "Univers Thin", Helvetica, Arial, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ---- Structure ---- */
#wrapper {
    background-color: #eaeaea;
    padding: 0 80px;
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.pageBreak{
    height: 2px;
    background-color: #8e8e8e;
    margin: 60px 120px;
}

.fourColumnParent, .threeColumnParent {
    margin: 60px 0;
}

.threeColumn, .fourColumn {
    background-color: #f8f8f8;
    float: left;
    width: 290px;
    margin: 0 20px;
    padding: 40px;
}

.fourColumn {
    width: 187px;
}

.twoColumn {
    width: 100px;
}

.lastColumn {
    float: right;
}

.boxShadow {
    -webkit-box-shadow: 5px 5px 10px 0px #d1d1d1;
    -moz-box-shadow: 5px 5px 10px 0px #d1d1d1;
    box-shadow: 5px 5px 10px 0px #d1d1d1;
}

.boxShadow:hover {
    -webkit-box-shadow: 5px 5px 15px 0px #c4c4c4;
    -moz-box-shadow: 5px 5px 15px 0px #c4c4c4;
    box-shadow: 5px 5px 15px 0px #c4c4c4;
}

.twoColumnParent {
    margin: 60px 0;
}

.leftColumn {
    float: left;
    width: 750px;
}
.rightColumn {
    float: left;
    width: 480px;
}

.twoColumn {
    background-color: #f8f8f8;
    float: left;
    width: 240px;
    margin: 0 40px 0 0;
    padding: 40px;
}
.flex {
    display: -webkit-flex;
    display: flex;
}
.locationInfo {
    margin-top: 20px;
}

/* ---- Typography ---- */
h1, h2, h3, h4, h5, h6, p{
    color: #727272;
    font-family: "Univers Thin", Helvetica, Arial, sans-serif;
}

h1{
    color: #727272;
    font-size: 40px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 15px 0 20px 0;
    line-height: 32px;
    text-align: center;
}
h2{
    font-size: 22px;
    letter-spacing: 2px;
    color: #727272;
    margin: 25px 0 25px 0;
    text-transform: uppercase;
}
.samples h2, #contacts h2{
    margin: 0px 0 25px 0;
}
h3{
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #727272;
    padding: 10px 0;
    text-transform: lowercase;
}
#about h3{
    margin-top: -25px;
    margin-bottom: 10px
}
#contacts h3{
    padding: 5px;
}
p {
    font-size: 14px;
    line-height: 20px
}
a {
    text-decoration: none;
    color: #727272;
}


#mainNav ul{
    text-align: center;
    font-size: 0;
    margin: 40px auto;
}

#mainNav ul li{
    display: inline-block;
    width: 250px;
    text-align: center;
}

#mainNav ul li a{
    display: inline-block;
    margin: 0 0;
    color: #727272;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}
#mainNav ul li a:hover{
    color: #3b3b3b;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

/*  ---- Page Elements ---- */
#portfolio .samples img {
    margin: 4px
}

form {
    padding: 10px 0 10px 0;
}

input {
    margin-top: 10px;
}

input[type=email], input[type=text] {
    width: 250px;
}
textarea {
    margin-top: 10px;
    height: 100px;
    width: 400px;
    resize: none;
}

#pageFooter{
    padding-bottom: 40px;
    text-align: center;
}

#pageFooter ul{
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

#pageFooter li{
    display: inline-block;
    padding: 0 20px 40px 20px;
}
